.same-width {
  width: 100%;
  height: 218px;
  border-radius: 0.7rem;

  @include atSmallestScreen {
    height: 160px;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.margin-bottom {
  margin-bottom: 1rem;

  @include atLgScreen {
    margin-bottom: 3rem;
  }
}

.margin-right {
  margin-right: 0.2rem;
}
